# Backups locales / Local backups
*.bak*
*_work

# Arduino debug artifacts
esp32.svd
debug.cfg
debug_custom.json

# Build artifacts
build/
*.o
*.elf
*.bin
*.map

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
